{
  "name": "uhh-discord-status-bot",
  "version": "1.0.0",
  "description": "Checks a website and posts up/down status updates to Discord.",
  "main": "index.js",
  "scripts": {
    "start": "node index.js"
  },
  "dependencies": {
    "dotenv": "latest"
  },
  "engines": {
    "node": ">=18"
  }
}